h1 span {color: blue;}
#main-links {color: rgb(10, 10, 110);}
.bold {font-weight: bold;}
p span {color: greenyellow;}
.italic {font-style: italic;}
h4 {font-style: italic; font-size: larger;}
.green span {color: green;}
.full-text {font-size: 12px;}
